<nav class="navbar bg-dark">
    <h1>Eat Da Burger</h1>
</nav>
<center><img src ="../public/assets/img/burger.gif"></center>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {{ new-burger }}
        </div>
        <div class="col">
            {{ devour-burger }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addBurger">Order!</button>
                </div>
            </div>
        </div>
    </div>
</div>